<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/asses/favicon/Logo_Img.svg" type="GeoAI" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Sora:wght@100..800&display=swap"
      rel="stylesheet"
    />

    <!-- font icon -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />

    <!-- reset css -->
    <link rel="stylesheet" href="/asses/css/reset.css" />
    <!-- style css -->
    <link rel="stylesheet" href="/asses/css/style_index.css" />

    <title>GeoAI</title>
  </head>
  <body>
    <!-- header -->
    <header class="header">
      <div class="menu">
        <!-- Logo -->
        <a href="">
          <img
            src="/asses/favicon/Logo_Gr.svg"
            alt="Shine smile"
            class="logo header__logo"
            style="width: 100px; height: auto; margin-right: 30px"
          />
        </a>
        <!-- Navbar -->
        <nav class="navbar">
          <ul class="navbar__list" id="navbar__list--pc">
            <li class="navbar__item">
              <a href="/templates/index_profile.html" class="navbar__link"
                >Contact Us</a
              >
            </li>
            <li class="navbar__item">
              <a href="/templates/index_profile.html" class="navbar__link"
                >About</a
              >
            </li>
            <li class="navbar__item">
              <a href="/templates/index_profile.html" class="navbar__link"
                >Help</a
              >
            </li>
          </ul>
        </nav>
        <!-- Robot Icon and Group Name -->
        <div class="robot-group">
          <span class="robot-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M3 9h18M9 3h6v3H9zM9 18h6v3H9zM3 12h18m-3 0v6a3 3 0 01-3 3H9a3 3 0 01-3-3v-6m0 0V9h12v3m-4 0v6H9v-6"
              />
            </svg>
          </span>
          <span class="group-name">Nhóm 10</span>
        </div>
      </div>
    </header>

    <!-- main -->
    <main>
      <div class="main">
        <div class="info">
          <!-- hero -->
          <div class="logo-container">
            <img
              src="/asses/favicon/Logo_Gr.svg"
              alt="GeoAI Logo"
              class="logo"
            />
            <h2 class="subtitle">Make your Math course easier with AI</h2>
            <div class="input-field">
              <input type="text" placeholder="Enter your problem" />
              <div class="search-button">
                <i class="fas fa-search search-icon"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="/asses/js/index.js"></script>
  </body>
</html>
